.content-wrapper-custom{
    margin-left: 0px !important;
}

.custom-page-sidebar{
    min-height: 0 !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    /* margin-top: 90px !important; */
}

.side-menu {
    padding: 15px 0 10px 0 !important;
}

.side-menu>li.active, .side-menu>li.active>a, .side-menu>li a:focus, .side-menu>li a:hover, .side-menu>li>a:focus>i, .side-menu>li>a:hover>i {
    background-color: #ffffff !important;
}

.main-menu, .main-menu>i{
    color: #03a9f5 !important;
}

.main-menu>img{
    padding: 0 !important;
    margin: -5px 10px 0 0 !important;
    height: 30px !important;
    width: auto;
}

.nav-2-level>li>a, .nav-3-level>li>a, .nav-2-level>li>a>i {
    color: #323233 !important;
}

.nav-2-level>li:hover>a, .nav-3-level>li:hover>a, .nav-2-level>li:hover>a>i {
    color: #6820d5 !important;
}

.nav-2-level>li>a:focus {
    color: #323233 !important;
}

.sidebar-item-icon{
    color: #03a9f5 !important;
}

.side-menu li.active > a > i.arrow {
    -webkit-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}

.page-brand {
    /* padding-top: 8px !important; */
    padding: 0 !important;
    background-color: white !important;
}

.header-nav {
    text-align: right;
}

.toolbar-icon2 {
    font-size: 18px;
    height: 40px;
    width: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 5px;
}

#pro-link a {
    opacity: 0.25;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#pro-link a:hover {
    opacity: 0.5;
}

.page-footer{
    background-color: transparent !important;
    position: unset !important;
}

.custom-hr{
    margin-bottom:0rem !important;
    margin-top:0rem !important;
}

.font-13{
    margin: 0px auto !important;
}


.static-widget{
    width: 100% !important;
}

.custom-row{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.custom-executive{
    background-color: #1E55F6;
}
.custom-executive-border-bottom{
    height: 5px;
    border-right: 2px solid white;
}

.custom-executive:hover{
    background-color: #0b42e0 !important;
    cursor: pointer;
}

.white-btn{
    background-color: #ffffff !important;
}

.res-btn-show {
    display: none !important;
}
@media (max-width: 992px) {
    .res-btn-show {
        display: block !important;
    }
    .res-btn-hide {
        display: none !important;
    }
    .dropdown-user {
        display: block !important;
    }
}

.form-flex{
    display: flex;
}